*.log
/alpine3.9.x-anew/_COPY_/x_resty/openresty-1.15.8.1
/alpine3.9.x-anew/_COPY_/x_resty/openssl-1.1.1c
/alpine3.9.x-anew/_COPY_/x_resty/pcre-8.42
/alpine3.9.x-anew/_COPY_/x_resty/*.tar.gz
/alpine3.9.x-anew/_COPY_/x_resty/*.tgz
